.task-table{
  width: 100%;
  max-width: 55rem;
  margin: 5px auto;
  border-collapse: collapse;
  text-align: center;
  font-size: 15px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.task-table thead tr{
  height: 40px;
  color: rgb(114, 114, 209);
  background-color: #d2d7d6;
}

.task-table td {
  padding: 15px;
  border-bottom: 1px solid #d2d7d6;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  margin: 5rem auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  gap: 20px;
}

@media screen and (max-width: 500px) {
  .task-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}